/* GRANDES PROJETO E EMPRESAS
- COMO COMEÇAR DO JEITO CERTO?
CSS - * = TUDO

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-image: url(/imgs/mapa.jpg);
    /* IMAGEM DO FUNDO */
    background-size: cover;
    /* TAMANHO DO FUNDO */
    background-position: center;
    /* POSIÇÃO DA IMAGEM */
    height: 100vh;
    /* ALTURA DA TELA, PREENCHER TODA A TELA */

    display: flex;
    /* MOSTRAR  FLEXIVEL */

    align-items: center;
    /* ALINHAR ITENS AO CENTRO */
    justify-content: center;
}

.caixa-maior {
   
    background-color: black;
    width: 450px; /* LARGURA DA CAIXA */
    border-radius: 25px; /* BORDAS ARREDONDADAS */
    padding: 20px; /* ESPAÇAMENTO INTERNO */

}

.input-texto {

    width: 100%;
    height: 100px; /* ALTURA DO CAMPO DE TEXTO */
    border: none; /* TIRAR BORDA PADRÃO */
    outline: none; /* TIRAR BORDA DE FOCO QUANDO CLICA */
    background-color: #ffffff1a; /* COR DE FUNDO DO CAMPO DE TEXTO */
    border-radius: 15px; /* BORDAS ARREDONDADAS */
    border-radius: 15px; /* BORDAS ARREDONDADAS */
    color: #ffffff; /* COR DO TEXTO */
    font-size: 16px; /* TAMANHO DA FONTE */
    padding: 15px; /* ESPAÇAMENTO INTERNO */

}

.idioma {

    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: #ffffff;
}

button {

    border: none;
    border-radius: 50px;
    padding: 10px;
    background-color: #ffffff1a;
    cursor: pointer;
}

.controle {

    display: flex;
    align-items: center;
    gap: 10px; /* ESPAÇAMENTO ENTRE ITENS */
    margin-top: 20px; /* ESPAÇAMENTO ACIMA */
    margin-bottom: 20px; /* ESPAÇAMENTO ABAIXO */
        
}

.resultado {

    padding: 16px;
    background-color: #ffffff1a;
    border-radius: 15px;
    

}

.título-tradução {

    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;


}

.tradução {

    color: #ffffff;
    font-size: 18px;

}